# Data Science Tools and Ecosystem

 In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL

Some of the commonly used libraries by Data Scientists include:
1. Pandas
2. Numpy
3. Jupyter Notebook

|Data Science Tools|
|--------------------|
|Data Management Tools|
|Data Visualization Tools|
|Data Integration and Transformation Tools|

Below are a few examples of evaluating arithmetic expressions in Python.

In [12]:
#This is a simple arithmetic expression to multiply then add integers.
(3*4)+5

17

In [14]:
#This will convert 200 minutes to hours by dividing by 60.
200/60

3.3333333333333335

**Objectives:**

- Python
- R
- SQL

## Author
Swikrit Subedi